<section id="task-bar">
    
    <!-- XS-Screen Taskbar ---------------------------------------------------------- -->

    <ul data-spy="affix" data-offset-top="400" class="visible-xs taskbar push-down affix nav">
        <div class="row container">
            <li class="dropdown col-xs-12">
                <button class="col-xs-12 btn btn-lg btn-taskbar" id="taskbar" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
                    admin tools
                </button>
                <ul class="dropdown-menu btn-lg inner" role="menu" aria-labelledby="taskbar">
                    
                    <div class="backdrop">

                        <li>
                            <button class="btn btn-lg nav-btn" data-toggle="modal" data-target="#updateInfoModal">
                                update my info
                            </button>
                        </li>

                        <% if @boss %>

                        <li>
                            <button class="btn btn-lg nav-btn" data-toggle="modal" data-target="#addUserModal">
                                add user
                            </button>
                        </li>

                        <li>
                            <button class="btn btn-lg nav-btn" data-toggle="modal" data-target="#deleteUserModal">
                                delete user
                            </button>
                        </li>
                        
                        <% end %>

                        <li>
                            <button class="btn btn-lg nav-btn" data-toggle="modal" data-target="#addItemModal">
                                add item
                            </button>
                        </li>

                        <li>
                            <button class="btn btn-lg nav-btn" data-toggle="modal" data-target="#editItemModal">
                                edit item
                            </button>
                        </li>

                        <li>
                            <form action="/logout" method="post">
                                <button class="btn btn-lg nav-btn" type="submit">log out</button>
                            </form>
                        </li>
                    </div>
                </ul>
            </li>
        </div>
    </ul>

    <!-- SM- to LG-Screen Taskbar ---------------------------------------------------------- -->

    <ul data-spy="affix" data-offset-top="864" class="visible-sm visible-md visible-lg taskbar push-down affix nav navbar-nav">
        <div class="row">
            <li class="col-md-2">
                <button class="col-xs-12 btn btn-lg nav-btn" data-toggle="modal" data-target="#updateInfoModal">
                    update my info
                </button>
            </li>
            <% if @boss %>
            <li class="col-md-2 dropdown">
                <button class="col-xs-12 btn btn-lg nav-btn" data-toggle="modal" data-target="#manageUsersModal">
                    manage users
                </button>
            </li>
            <% end %>
            <li class="col-md-2 dropdown">
                <button class="col-xs-12 btn btn-lg nav-btn" data-toggle="modal" data-target="#manageMenuModal">
                    manage menu
                </button>
            </li>
            <li class="col-md-2">
                <form action="/logout" method="post">
                    <button class="col-xs-12 btn btn-lg nav-btn" type="submit">log out</button>
                </form>
            </li>
        </div>
    </ul>
</section>

<!-- ManageUsers Modal ---------------------------------------------------------- -->
<div class="modal fade" id="manageUsersModal" tabindex="-1" role="dialog" aria-labelledby="manageUsersModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
            <ul class="col-xs-12 btn-lg" role="menu" aria-labelledby="manageUsersButton">
                <li>
                    <button class="col-xs-12 btn btn-lg btn-primary" data-toggle="modal" data-target="#addUserModal">
                        add user
                    </button>
                </li>
                <li>
                    <button class="col-xs-12 btn btn-lg btn-warning" data-toggle="modal" data-target="#deleteUserModal">
                        delete user
                    </button>
                </li>
            </ul>
            <!-- Cancel Button -->
            <button id="cancel-manage-users" type="button" class="col-xs-12 btn btn-lg btn-danger" data-dismiss="modal">
                cancel
            </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ManageMenu Modal ---------------------------------------------------------- -->
<div class="modal fade" id="manageMenuModal" tabindex="-1" role="dialog" aria-labelledby="manageMenuModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
            <ul class="col-xs-12 btn-lg" role="menu" aria-labelledby="manageUsersButton">
                <li>
                    <button class="col-xs-12 btn btn-lg btn-success" data-toggle="modal" data-target="#addItemModal">
                        add item
                    </button>
                </li>
                <li>
                    <button class="col-xs-12 btn btn-lg btn-primary" data-toggle="modal" data-target="#editItemModal">
                        edit item
                    </button>
                </li>
            </ul>
            <!-- Cancel Button -->
            <button id="cancel-manage-menu" type="button" class="col-xs-12 btn btn-lg btn-danger" data-dismiss="modal">
                cancel
            </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- AddItem Modal ---------------------------------------------------------- -->
<div class="modal fade" id="addItemModal" tabindex="-1" role="dialog" aria-labelledby="addItemModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
            <div class="col-xs-12 add-form">
                <form action="/menu" method="post" id="add-item">
                    <!-- Name Field -->
                    <input class="col-xs-12 add-form" name="name" label="name" type="text" maxlength="30" placeholder="Item name">
                    <!-- Description Field -->
                    <input class="col-xs-12 add-form" name="description" label="description" type="text" maxlength="255" placeholder="Item description">
                    <!-- Price Field -->
                    <input class="col-xs-12 add-form" name="price" label="price" type="number" placeholder="Item price">
                    <!-- Menu Select -->
                    <select onChange="filterCategories(this)"class="col-xs-12 add-form" name="menu" label="menu">
                        <option value="lunch">Lunch</option>
                        <option value="dinner">Dinner</option>
                        <option value="small-plates">Small Plates</option>
                        <option value="wine">Wine</option>
                        <option value="cocktails">Cocktails</option>
                    </select>
                    <!-- Category Selects -->
                        <select class="col-xs-12 add-form" id="lunch-cats" name="lunch_category" label="category">
                            <option value="appetizers">Appetizers</option>
                            <option value="beef">Beef</option>
                            <option value="chicken">Chicken</option>
                            <option value="salads">Salads</option>
                            <option value="sandwiches">Sandwiches</option>
                            <option value="seafood">Seafood</option>
                        </select>
                        <select style="display: none" class="col-xs-12 add-form" id="dinner-cats" name="dinner_category" label="category">
                            <option value="appetizers">Appetizers</option>
                            <option value="beef">Beef</option>
                            <option value="chicken">Chicken</option>
                            <option value="duck">Duck</option>
                            <option value="lamb">Lamb</option>
                            <option value="pork">Pork</option>
                            <option value="salads">Salads</option>
                            <option value="seafood">Seafood</option>
                            <option value="veal">Veal</option>
                        </select>
                        <select style="display: none" class="col-xs-12 add-form" id="wine-cats" name="wine_category" label="category">
                            <option value="sparkling">Sparkling</option>
                            <option value="chardonnay">Chardonnay</option>
                            <option value="sauvignon-blanc">Sauvignon Blanc</option>
                            <option value="interesting-whites">Interesting Whites</option>
                            <option value="Pinot Grigio">Pinot Grigio</option>
                            <option value="pinot-noir">Pinot Noir</option>
                            <option value="merlot">Merlot</option>
                            <option value="cabernet-sauvignon">Cabernet Sauvignon</option>
                            <option value="interesting-reds">Interesting Reds</option>
                        </select>
                        <select style="display: none" class="col-xs-12 add-form" id="small-plates-cat" name="small-plates_category" label="category">
                            <option value="small-plates">Small Plates</option>
                        </select>
                        <select style="display: none" class="col-xs-12 add-form" id="cocktails-cat" name="cocktails_category" label="category">
                            <option value="cocktails">Cocktails</option>
                        </select>
                    <!-- Submit Button -->
                    <button type="submit" class="col-xs-12 btn btn-lg btn-primary">
                        add item
                    </button>
                    <button id="cancel-add" type="button" class="col-xs-12 btn btn-lg btn-danger" data-dismiss="modal">
                        cancel
                    </button>
                </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- EditItem Modal ---------------------------------------------------------- -->
<div class="modal fade" id="editItemModal" tabindex="-1" role="dialog" aria-labelledby="editItemModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
            <div class="col-xs-12 edit-form">
                <form action="/edit" method="post" id="edit-item">
                    <!-- Menu Select -->
                    <select onChange="editFilterCategories(this)"class="col-xs-12 edit-form" name="menu">
                        <option value="lunch">Lunch</option>
                        <option value="dinner">Dinner</option>
                        <option value="small-plates">Small Plates</option>
                        <option value="wine">Wine</option>
                        <option value="cocktails">Cocktails</option>
                    </select>
                    <!-- Item Select -->
                        <select class="col-xs-12 edit-form" id="lunch-edit" name="lunch_edit">
                            <% @menu_items.each do |item| %>
                                <% if item.menu == 'lunch' %>
                                    <option value="<%= item.id %>"><%= item.name %></option>
                                <% end %>
                            <% end %>
                        </select>
                        <select style="display: none" class="col-xs-12 edit-form" id="dinner-edit" name="dinner_edit">
                            <% @menu_items.each do |item| %>
                                <% if item.menu == 'dinner' %>
                                    <option value="<%= item.id %>"><%= item.name %></option>
                                <% end %>
                            <% end %>
                        </select>
                        <select style="display: none" class="col-xs-12 edit-form" id="wine-edit" name="wine_edit">
                            <% @menu_items.each do |item| %>
                                <% if item.menu == 'wine' %>
                                    <option value="<%= item.id %>"><%= item.name %></option>
                                <% end %>
                            <% end %>
                        </select>
                        <select style="display: none" class="col-xs-12 edit-form" id="small-plates-edit" name="small-plates_edit">
                            <% @menu_items.each do |item| %>
                                <% if item.menu == 'small plates' %>
                                    <option value="<%= item.id %>"><%= item.name %></option>
                                <% end %>
                            <% end %>
                        </select>
                        <select style="display: none" class="col-xs-12 edit-form" id="cocktails-edit" name="cocktails_edit">
                            <% @menu_items.each do |item| %>
                                <% if item.menu == 'cocktails' %>
                                    <option value="<%= item.id %>"><%= item.name %></option>
                                <% end %>
                            <% end %>
                        </select>
                    <!-- Name Change -->
                    <input class="col-xs-12 add-form" name="name" label="name" type="text" maxlength="30" placeholder="Change item name">
                    <!-- Description Change -->
                    <input class="col-xs-12 add-form" name="description" label="description" type="text" maxlength="255" placeholder="Change item description">
                    <!-- Price Change -->
                    <input class="col-xs-12 add-form" name="price" label="price" type="number" placeholder="Change item price">
                    <!-- Submit Button -->
                    <button type="submit" class="col-xs-12 btn btn-lg btn-primary">
                        save changes
                    </button>
                    <button id="cancel-edit" type="button" class="col-xs-12 btn btn-lg btn-danger" data-dismiss="modal">
                        cancel
                    </button>
                </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- UpdateInfo Modal ---------------------------------------------------------- -->
<div class="modal fade" id="updateInfoModal" tabindex="-1" role="dialog" aria-labelledby="updateInfoModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
            <div class="col-xs-12 edit-form">
                
                <!-- Update User Form -->
                <form action="/<%= @id %>/update" method="post" id="update-info">
                    <div class="id hidden"><%= @id %></div>
                    <% user = @current_user %>
                        <% name_array = user.email.split('@')[0].split('') %>
                        <% email = user.email.split('@')[1] %>
                        <% hidden_email = "#{name_array[0]}#{name_array.map { |x| x = '*' }.join }@#{email}" %>

                    <input type="hidden" name="id" value="<%= @id %>">
                    
                    <!-- Update Email -->
                    <h2 class="col-xs-12 center">Email (<%= hidden_email %>)</h2>
                    <label for="email">Update your email address:</label>
                    <input class="col-xs-12" name="email" type="text" maxlength="30" placeholder="New Email Address">
                    
                    <!-- Change Password -->
                    <h2 class="col-xs-12 center">Password</h2>
                    <label for="old_password">Enter your current password:</label>
                    <input class="col-xs-12" name="old_password" type="password" maxlength="30" placeholder="Enter Current Password">

                    <label for="new_password">Enter your new password:</label>
                    <input class="col-xs-12" name="new_password" type="password" maxlength="30" placeholder="Enter New Password">
                    <input class="col-xs-12" name="confirm_password" type="password" maxlength="30" placeholder="Confirm New Password">
                    
                    <!-- Submit Button -->
                    <button type="submit" class="col-xs-12 btn btn-lg btn-primary">
                        save changes
                    </button>
                    <!-- Cancel Button -->
                    <button id="cancel-edit-user" type="button" class="col-xs-12 btn btn-lg btn-danger" data-dismiss="modal">
                        cancel
                    </button>
                </form>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- NewUser Modal ---------------------------------------------------------- -->
<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
            <div class="col-xs-12 user-form">
                
                <!-- Create User Form -->
                <form action="/signup" method="post" id="new-user">
                    
                    <!-- Name Field -->
                    <label for="name">
                        New user name (this person can modify the menu):
                    </label>
                    <input class="col-xs-12 add-form" name="name" type="text" maxlength="30" placeholder="New User Name">
                    
                    <!-- Email Field -->
                    <label for="email">
                        New user's email address:
                    </label>
                    <input class="col-xs-12 add-form" name="email" type="text" maxlength="100" placeholder="New User Email Address">
                    
                    <!-- Submit to Create User -->
                    <button type="submit" class="col-xs-12 btn btn-lg btn-primary">create user</button>
                </form>
                <button id="cancel-add-user" type="button" class="col-xs-12 btn btn-lg btn-danger" data-dismiss="modal">
                    cancel
                </button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
    
<!-- DeleteUser Modal ---------------------------------------------------------- -->
<div class="modal fade" id="deleteUserModal" tabindex="-1" role="dialog" aria-labelledby="deleteUserModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
            <div class="col-xs-12 user-form">
                
                <!-- Delete User Form -->
                <form action="/user/delete" method="post" id="delete-user">
                    <h3>Are you sure?</h3>
                    <label for="name">
                        Select a user to delete (this can not be undone!):
                    </label>
                    <select class="col-xs-12 edit-form" id="delete-name" name="name">
                        <% @users.each do |user| %>
                            <% unless user.admin %>
                                <option value="<%= user.name %>"><%= user.name.capitalize %></option>
                            <% end %>
                        <% end %>
                    </select>
                    <button type="submit" class="col-xs-12 btn btn-lg btn-primary">delete user</button>
                </form>
                <button id="cancel-delete-user" type="button" class="col-xs-12 btn btn-lg btn-danger" data-dismiss="modal">
                    cancel
                </button>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="absolute push-down">
    <%= erb :menu, layout: false %>
</section>


<!-- 

Goals for this page:

- Allow User to edit existing MenuItem properties
X Redirect to login page if accessed by non-logged-in user
X Allow User to create MenuItems
X Display current MenuItems, organized by menu (lunch, dinner, etc.)
X Allow User to destroy MenuItems, with confirmation prompt
X Be accessible only through a successful login

-->