<section id="welcome">
  <div class="bcg"
  data-center="background-position: 100% 0px;"
  data-top-bottom="background-position: 0% -80px;">
      <div class="hsContainer">
          <div class="hsContent welcome-head"
            data--30p-top="opacity: 1;"
            data--80p-top="opacity: 0;"
            data-anchor-target="#brand">
            <h1 id="brand" class="h1 brand">
                <a class="logo-link" href="/">
                    <span style="color: #c00; font-family: 'Josefin Slab'; font-size: 1.1em">2</span>Chez
                </a>
            </h1>
            <h2 class="h1 subheading text-right">Casual Fine Dining</h2>
          </div>
      </div>
  </div>
</section>

<!-- <section class="push-down"> -->
<section id="menu-msg">
  <div class="bcg">
    <div class="hsContainer">
      <div class="hsContent">
        <h1 class="h1 center">
          Food &amp; Drink
        </h1>
        <div class="clearfix menu-intro">
          <div class="col-xs-12 col-md-7 pull-left">
            <img class="sm-img" src="./images/dinner-duck.jpg" alt="Duck">
          </div>
          <div class="col-xs-12 col-md-5 pull-right">
            <p class="lead">At 2Chez, we create authentic, rustic dishes inspired by classic, old-world flavors. Every dish is hand-crafted from scratch with carefully selected ingredients. This is the kind of food that is meant to be shared over a bottle of good wine with even better friends.</p>
            <p class="lead">Our drinks list is all about complementing our food. Every bottle of wine, craft beer, and seasonal cocktail has been carefully curated to bring out the best in what we create. We even have a small plates menu, available only at the bar, for those who want a quick bite to eat with their cocktail.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%= erb :menu, layout: false %>

<%= erb :hours, layout: false %>

<section id="contact">
  <div class="bcg">
    <div class="hsContainer">
      <div class="hsContent container-fluid">
          <div class="col-lg-6 col-lg-offset-3">
            <h2 class="center">
              Reservations
            </h2>
              <div class="inner">
                <p>
                  Give us a call at 309.691.2224 to make your reservation. We answer between 10am and 10pm every day except Sunday.
                </p>
                <a href="tel:+13096912224" class="col-xs-12 btn btn-lg btn-info visible-xs visible-sm contact-btn">
                  Call Now
                </a>
              </div>

            <h2 class="center">Private Parties & Catering</h2>
              <div class="inner">
                <p>
                  Let 2Chez make your next party an unforgettable one. Call or email Todd to ask about availability, menu options, and pricing.
                </p>
                <p class="visible-md visible-lg center">
                  Email: <a href="<%= @site_email.gsub('@', '(at)') %>" class="email"><%= @site_email %></a> or Call: 309.691.2224.
                </p>
                <a class="email col-xs-12 btn btn-lg btn-info visible-xs visible-sm contact-btn" href="<%= @site_email.gsub('@', '(at)') %>">
                  Email Todd
                </a>
              </div>
          </div>
      </div>
    </div>
  </div>
</section>

<%= erb :find, layout: false %>

<%= erb :footer, layout: false %>

<!-- </section> -->