<section class="content push-down">
  <div class="inner">
    <h1>Menu</h1>

    <ul class="menu nav nav-tabs visible-md visible-lg">
      <% @menu.each do |menu| %>
        <li class="h2">
          <a href="#<%= menu.split(' ').join('-') %>" data-toggle="tab"><%= menu %></a>
        </li>
      <% end %>
    </ul>

    <div class="tab-content">

      <!-- Lunch -->

      <div class="tab-pane fade in" id="lunch">
        <h3>
          <a data-toggle="collapse" data-target="#starters">
            starters
          </a>
        </h3>  
        <dl id="starters" class="menu collapse in">
          <% @menu_items.each do |item| %>
            <% if item.menu == 'lunch' && item.category == 'starters' %>
              <article>
                <dt class="item-name">
                  <%= item.name %>
                  <span class="item-price">
                    <%= item.price %>
                  </span>
                </dt>
                <dd class="item-description">
                  <%= item.description %>
                </dd>
              </article>
            <% end %>
          <% end %>
        </dl>
        <h3>
          <a data-toggle="collapse" data-target="#salads">
            salads
          </a>
        </h3>  
        <dl id="salads" class="menu collapse in">
          <% @menu_items.each do |item| %>
            <% if item.menu == 'lunch' && item.category == 'salads' %>
              <article>
                <dt class="item-name">
                  <%= item.name %>
                  <span class="item-price">
                    <%= item.price %>
                  </span>
                </dt>
                <dd class="item-description">
                  <%= item.description %>
                </dd>
              </article>
            <% end %>
          <% end %>
        </dl>
        <h3>
          <a data-toggle="collapse" data-target="#sandwiches">
            sandwiches
          </a>
        </h3>  
        <dl id="sandwiches" class="menu collapse in">
          <% @menu_items.each do |item| %>
            <% if item.menu == 'lunch' && item.category == 'sandwiches' %>
              <article>
                <dt class="item-name">
                  <%= item.name %>
                  <span class="item-price">
                    <%= item.price %>
                  </span>
                </dt>
                <dd class="item-description">
                  <%= item.description %>
                </dd>
              </article>
            <% end %>
          <% end %>
        </dl>
        <h3>
          <a data-toggle="collapse" data-target="#chicken">
            chicken
          </a>
        </h3>  
        <dl id="chicken" class="menu collapse in">
          <% @menu_items.each do |item| %>
            <% if item.menu == 'lunch' && item.category == 'chicken' %>
              <article>
                <dt class="item-name">
                  <%= item.name %>
                  <span class="item-price">
                    <%= item.price %>
                  </span>
                </dt>
                <dd class="item-description">
                  <%= item.description %>
                </dd>
              </article>
            <% end %>
          <% end %>
        </dl>
        <h3>
          <a data-toggle="collapse" data-target="#seafood">
            seafood
          </a>
        </h3>  
        <dl id="seafood" class="menu collapse in">
          <% @menu_items.each do |item| %>
            <% if item.menu == 'lunch' && item.category == 'seafood' %>
              <article>
                <dt class="item-name">
                  <%= item.name %>
                  <span class="item-price">
                    <%= item.price %>
                  </span>
                </dt>
                <dd class="item-description">
                  <%= item.description %>
                </dd>
              </article>
            <% end %>
          <% end %>
        </dl>
        <h3>
          <a data-toggle="collapse" data-target="#beef">
            beef
          </a>
        </h3>  
        <dl id="beef" class="menu collapse in">
          <% @menu_items.each do |item| %>
            <% if item.menu == 'lunch' && item.category == 'beef' %>
              <article>
                <dt class="item-name">
                  <%= item.name %>
                  <span class="item-price">
                    <%= item.price %>
                  </span>
                </dt>
                <dd class="item-description">
                  <%= item.description %>
                </dd>
              </article>
            <% end %>
          <% end %>
        </dl>
      </div>
      
      <!-- Dinner -->

      <div class="tab-pane fade in" id="dinner">
        <h3>
          <a data-toggle="collapse" data-target="#starters">
            starters
          </a>
        </h3>  
        <dl id="starters" class="menu collapse in">
          <% @menu_items.each do |item| %>
            <% if item.menu == 'dinner' && item.category == 'starters' %>
              <article>
                <dt class="item-name">
                  <%= item.name %>
                  <span class="item-price">
                    <%= item.price %>
                  </span>
                </dt>
                <dd class="item-description">
                  <%= item.description %>
                </dd>
              </article>
            <% end %>
          <% end %>
        </dl>
        <h3>
          <a data-toggle="collapse" data-target="#salads">
            salads
          </a>
        </h3>  
        <dl id="salads" class="menu collapse in">
          <% @menu_items.each do |item| %>
            <% if item.menu == 'dinner' && item.category == 'salads' %>
              <article>
                <dt class="item-name">
                  <%= item.name %>
                  <span class="item-price">
                    <%= item.price %>
                  </span>
                </dt>
                <dd class="item-description">
                  <%= item.description %>
                </dd>
              </article>
            <% end %>
          <% end %>
        </dl>
        <h3>
          <a data-toggle="collapse" data-target="#chicken">
            chicken
          </a>
        </h3>  
        <dl id="chicken" class="menu collapse in">
          <% @menu_items.each do |item| %>
            <% if item.menu == 'dinner' && item.category == 'chicken' %>
              <article>
                <dt class="item-name">
                  <%= item.name %>
                  <span class="item-price">
                    <%= item.price %>
                  </span>
                </dt>
                <dd class="item-description">
                  <%= item.description %>
                </dd>
              </article>
            <% end %>
          <% end %>
        </dl>
        <h3>
          <a data-toggle="collapse" data-target="#veal">
            veal
          </a>
        </h3>  
        <dl id="veal" class="menu collapse in">
          <% @menu_items.each do |item| %>
            <% if item.menu == 'dinner' && item.category == 'veal' %>
              <article>
                <dt class="item-name">
                  <%= item.name %>
                  <span class="item-price">
                    <%= item.price %>
                  </span>
                </dt>
                <dd class="item-description">
                  <%= item.description %>
                </dd>
              </article>
            <% end %>
          <% end %>
        </dl>
        <h3>
          <a data-toggle="collapse" data-target="#seafood">
            seafood
          </a>
        </h3>  
        <dl id="seafood" class="menu collapse in">
          <% @menu_items.each do |item| %>
            <% if item.menu == 'dinner' && item.category == 'seafood' %>
              <article>
                <dt class="item-name">
                  <%= item.name %>
                  <span class="item-price">
                    <%= item.price %>
                  </span>
                </dt>
                <dd class="item-description">
                  <%= item.description %>
                </dd>
              </article>
            <% end %>
          <% end %>
        </dl>
        <h3>
          <a data-toggle="collapse" data-target="#beef">
            beef
          </a>
        </h3>  
        <dl id="beef" class="menu collapse in">
          <% @menu_items.each do |item| %>
            <% if item.menu == 'dinner' && item.category == 'beef' %>
              <article>
                <dt class="item-name">
                  <%= item.name %>
                  <span class="item-price">
                    <%= item.price %>
                  </span>
                </dt>
                <dd class="item-description">
                  <%= item.description %>
                </dd>
              </article>
            <% end %>
          <% end %>
        </dl>
        <h3>
          <a data-toggle="collapse" data-target="#pork">
            pork
          </a>
        </h3>  
        <dl id="pork" class="menu collapse in">
          <% @menu_items.each do |item| %>
            <% if item.menu == 'dinner' && item.category == 'pork' %>
              <article>
                <dt class="item-name">
                  <%= item.name %>
                  <span class="item-price">
                    <%= item.price %>
                  </span>
                </dt>
                <dd class="item-description">
                  <%= item.description %>
                </dd>
              </article>
            <% end %>
          <% end %>
        </dl>
        <h3>
          <a data-toggle="collapse" data-target="#lamb">
            lamb
          </a>
        </h3>  
        <dl id="lamb" class="menu collapse in">
          <% @menu_items.each do |item| %>
            <% if item.menu == 'dinner' && item.category == 'lamb' %>
              <article>
                <dt class="item-name">
                  <%= item.name %>
                  <span class="item-price">
                    <%= item.price %>
                  </span>
                </dt>
                <dd class="item-description">
                  <%= item.description %>
                </dd>
              </article>
            <% end %>
          <% end %>
        </dl>
      </div>

      <!-- Small Plates -->

      <div class="tab-pane fade in" id="small-plates">
          <% @menu_items.each do |item| %>
            <% if item.menu == 'small plates' %>
              <article>
                <dt class="item-name">
                  <%= item.name %>
                  <span class="item-price">
                    <%= item.price %>
                  </span>
                </dt>
                <dd class="item-description">
                  <%= item.description %>
                </dd>
              </article>
            <% end %>
          <% end %>
      </div>

      <!-- Cocktails -->

      <div class="tab-pane fade in" id="cocktails">
          <% @menu_items.each do |item| %>
            <% if item.menu == 'cocktails' %>
              <article>
                <dt class="item-name">
                  <%= item.name %>
                  <span class="item-price">
                    <%= item.price %>
                  </span>
                </dt>
                <dd class="item-description">
                  <%= item.description %>
                </dd>
              </article>
            <% end %>
          <% end %>
      </div>

      <!-- Wine -->

      <div class="tab-pane fade in" id="wine">
        <h3>
          <a data-toggle="collapse" data-target="#whites">
            whites
          </a>
        </h3>  
        <dl id="whites" class="menu collapse in">
          <% @menu_items.each do |item| %>
            <% if item.menu == 'wine' && item.category == 'whites' %>
              <article>
                <dt class="item-name">
                  <%= item.name %>
                  <span class="item-price">
                    <%= item.price %>
                  </span>
                </dt>
                <dd class="item-description">
                  <%= item.description %>
                </dd>
              </article>
            <% end %>
          <% end %>
        </dl>
        <h3>
          <a data-toggle="collapse" data-target="#reds">
            reds
          </a>
        </h3>  
        <dl id="reds" class="menu collapse in">
          <% @menu_items.each do |item| %>
            <% if item.menu == 'wine' && item.category == 'reds' %>
              <article>
                <dt class="item-name">
                  <%= item.name %>
                  <span class="item-price">
                    <%= item.price %>
                  </span>
                </dt>
                <dd class="item-description">
                  <%= item.description %>
                </dd>
              </article>
            <% end %>
          <% end %>
        </dl>
      </div>

    <div id="accordion">
      <div class="panel visible-xs visible-sm">
        <div>
          <h3>
            <a data-toggle="collapse" data-parent="#accordion" href="#wine-list">
              Wine List
            </a>
          </h3>
        </div>
        <div id="wine-list" class="menu panel-collapse collapse">
          <div class="panel-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
          </div>
        </div>
      </div>
    </div>
    </div>
  </section>

<!-- 

Goals for this page:
- Use #accordion collapse display to show menus on mobile screens
- Use tabs to display menus on md and lg screens

 -->