<section class="content <%= 'push-down' unless @admin %>">
  <div class="inner">
    <h1>Menu</h1>

    <!-- Menu accordion for -xs and -sm screens -->

    <div class="visible-xs visible-sm panel-group" id="accordion">
      <% @menus.each do |menu| %>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#<%= menu.split(' ').join('-') %>">
                <%= menu %>
              </a>
            </h2>
          </div>
          <div id="<%= menu.split(' ').join('-') %>" class="panel-collapse collapse">
            <div class="panel-body">
  
            <%= erb(:submenu, :layout => false, :locals => { :menu => menu }) %>
          
            </div>
          </div>
        </div>
        <% end %>
      </div>

      <!-- Menu tabs for -md and -lg screens -->

      <!-- Nav tabs -->

      <!-- I think we need to use the collapse plugin without the accordion parent for the tabs in the big menu. That will make for the cleanest and driest code, plus, I like the animation of the collapsing elements anyway. -->

      <ul class="nav nav-tabs visible-md visible-lg">
        <% @menus.each do |menu| %>
          <li class="h2 <%= 'active' if menu == 'lunch' %>">
            <a href="#<%= menu.split(' ').join('-') %>" data-toggle="tab">
              <%= menu %>
            </a>
          </li>
        <% end %>
      </ul>

      <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#demo">
        simple collapsible
      </button>

<div id="demo" class="collapse in">...</div>

      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane fade in active" id="lunch">
          <%= erb(:submenu, :layout => false, :locals => { :menu => 'lunch' }) %>
        </div>
        <div class="tab-pane fade" id="dinner">
          <%= erb(:submenu, :layout => false, :locals => { :menu => 'dinner' }) %>
        </div>
        <div class="tab-pane fade" id="small-plates">
          <%= erb(:submenu, :layout => false, :locals => { :menu => 'small plates' }) %>
        </div>
        <div class="tab-pane fade" id="wine">
          <%= erb(:submenu, :layout => false, :locals => { :menu => 'wine' }) %>
        </div>
        <div class="tab-pane fade" id="cocktails">
          <%= erb(:submenu, :layout => false, :locals => { :menu => 'cocktails' }) %>
        </div>
      </div>

<!-- top level -->
  </div>
</section>
