<!-- <div id="skrollr-body"> -->
<section id="menu" class="homeSlide">
  <div class="bcg"
    data-bottom-top="background-position: 50% 0px;"
    data-center="background-position: 50% -100px;"
    data-top-bottom="background-position: 50% -200px;"
    data-anchor-target="#menu">
    <div class="hsContainer">
      <div class="hsContent"
        data-0-bottom="opacity: 0"                   
        data-100-top="opacity: 1"
        data-anchor-target="#menu .nav">
      
<<<<<<< HEAD
        <h1 class="text-center">Menu</h1>

        <% unless @admin %>
        <div class="clearfix menu-intro">
        <!--   <div class="col-xs-12 col-md-5 pull-left">
            <img class="sm-img" src="./images/dinner-duck.jpg" alt="Duck">
          </div>
          <div class="col-xs-12 col-md-7 pull-right">
            <h2>Food &amp; Drink</h2>
            <p>At 2Chez, we create authentic, rustic dishes inspired by classic, old-world flavors. Every dish is hand-crafted from scratch with carefully selected ingredients. This is the kind of food that is meant to be shared over a bottle of good wine with even better friends.</p>
            <p>Our drinks list is all about complementing our food. Every bottle of wine, craft beer, and seasonal cocktail has been carefully curated to bring out the best in what we create. We even have a small plates menu, available only at the bar, for those who want a quick bite to eat with their cocktail.</p>
          </div>
        </div> -->
        <% end %>
=======
        <!-- <h1 class="center">Menu</h1> -->
>>>>>>> FETCH_HEAD

        <!-- Menu accordion for -xs and -sm screens -->

        <div class="visible-xs visible-sm panel-group scrim" id="accordion">
          <% @menus.each do |menu| %>
            <div class="panel panel-default">
              <a data-toggle="collapse" data-parent="#accordion" href="#<%= menu.split(' ').join('-') %>">
                <div class="panel-heading">
                  <h2 class="panel-title">
                    <%= menu %>
                  </h2>
                </div>
              </a>
              <div id="<%= menu.split(' ').join('-') %>" class="panel-collapse collapse">
                <div class="panel-body">
      
                  <%= erb(:submenu, :layout => false, :locals => { :menu => menu }) %>
              
                </div>
              </div>
            </div>
            <% end %>
          </div>

          <!-- Menu tabs for -md and -lg screens -->

          <!-- Nav tabs -->

          <ul class="nav nav-tabs nav-justified visible-md visible-lg">
            <% @menus.each do |menu| %>
              <li class="h2 <%= 'active' if menu == 'lunch' %>">
                <a href="#<%= menu.split(' ').join('-') + '-tab' %>" data-toggle="tab">
                  <%= menu %>
                </a>
              </li>
            <% end %>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content visible-md visible-lg">
            <% @menus.each do |menu| %>
              <div class="tab-pane fade in scrim <%= 'active' if menu == 'lunch' %>" id="<%= menu.split(' ').join('-') + '-tab' %>">
                <%= erb(:submenu, :layout => false, :locals => { :menu => menu }) %>
              </div>
            <% end %>
          </div>

  <!-- top level -->
      </div>
    </div>
  </div>
</section>
<!-- </div> -->
