<section class="content <%= 'push-down' unless @admin %>">
  <div class="inner">
    <h1>Menu</h1>

    <!-- Menu tabs for -md and -lg screens -->

    <ul class="menu nav nav-tabs visible-md visible-lg">
      <% @menus.each do |menu| %>
        <li class="h2 <%= 'active' if menu == 'dinner' %>">
          <a href="#<%= menu.split(' ').join('-') %>" data-toggle="tab"><%= menu %></a>
        </li>
      <% end %>
    </ul>


    <!-- Menu accordion for -xs and -sm screens -->

    <div class="panel-group" id="accordion">
      <% @menus.each do |menu| %>
      <div class="visible-xs visible-sm panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#<%= menu.split(' ').join('-') %>">
              <%= menu %>
            </a>
          </h2>
        </div>
        <div id="<%= menu.split(' ').join('-') %>" class="panel-collapse collapse">
          <div class="panel-body">
            <% @categories.each do |category| %>
              
              <% @relevant_items = @menu_items.select { |item| item.menu == menu && item.category == category } %>
              <% @relevant_categories = [] %>

              <!-- NEED TO CHANGE THIS SO THAT @RELEVANT_ITEMS ONLY HAS UNIQUE ELEMENTS -->
              <% @relevant_items.each do |item| %>
                <% @relevant_categories.push(item.category) unless @relevant_categories.include?(item.category) %>
              <% end %>
              
              <% @relevant_categories.each do |relevant_category| %>  

              <h3><%= relevant_category %></h3>

              <% @relevant_items.each do |item| %>
                <article>
                <dt class="item-name">
                  <%= item.name %>
                  <span class="item-price pull-right">
                    <%= item.price %>
                  </span>
                </dt>
                <dd class="item-description">
                  <%= item.description %>
                </dd>
                <% if @admin %>
                  <div class="row">
                    <form action="/raise" method="post">
                      <button class="btn btn-lg btn-warning col-xs-12 col-md-4" name="name" value="<%= item.name %>" type="submit">
                        raise price by $1
                      </button>
                    </form>
                    <form action="/reduce" method="post">
                      <button class="btn btn-lg btn-primary col-xs-12 col-md-4" name="name" value="<%= item.name %>" type="submit">
                        reduce price by $1
                      </button>
                    </form>
                    <form action="/menu" method="post">
                      <input type="hidden" name="_method" value="delete">
                      <button class="btn btn-lg btn-danger col-xs-12 col-md-4" name="name" value="<%= item.name %>" type="submit">
                        delete
                      </button>
                    </form>
                  </div>
                <% end %>
                </article>
                <% end %>
              <% end %>
            <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>

    <!-- Menus -->

    <div class="tab-content">

      <!-- Lunch -->

      <div class="tab-pane fade in" id="lunch">
        <h3>
          <a data-toggle="collapse" data-target="#starters">
            starters
          </a>
        </h3>  
        <dl id="starters" class="menu collapse">
          <% @menu_items.each do |item| %>
            <% if item.menu == 'lunch' && item.category == 'starters' %>
              <article>
                <dt class="item-name">
                  <%= item.name %>
                  <span class="item-price pull-right">
                    <%= item.price %>
                  </span>
                </dt>
                <dd class="item-description">
                  <%= item.description %>
                </dd>
                <% if @admin %>
                  <div class="row">
                    <form action="/raise" method="post">
                      <button class="btn btn-lg btn-warning col-xs-12 col-md-4" name="name" value="<%= item.name %>" type="submit">
                        raise price by $1
                      </button>
                    </form>
                    <form action="/reduce" method="post">
                      <button class="btn btn-lg btn-primary col-xs-12 col-md-4" name="name" value="<%= item.name %>" type="submit">
                        reduce price by $1
                      </button>
                    </form>
                    <form action="/menu" method="post">
                      <input type="hidden" name="_method" value="delete">
                      <button class="btn btn-lg btn-danger col-xs-12 col-md-4" name="name" value="<%= item.name %>" type="submit">
                        delete
                      </button>
                    </form>
                  </div>
                <% end %>
              </article>
            <% end %>
          <% end %>
        </dl>
        <h3>
          <a data-toggle="collapse" data-target="#salads">
            salads
          </a>
        </h3>  
        <dl id="salads" class="menu collapse">
          <% @menu_items.each do |item| %>
            <% if item.menu == 'lunch' && item.category == 'salads' %>
              <article>
                <dt class="item-name">
                  <%= item.name %>
                  <span class="item-price pull-right">
                    <%= item.price %>
                  </span>
                </dt>
                <dd class="item-description">
                  <%= item.description %>
                </dd>
                <% if @admin %>
                  <div class="row">
                    <form action="/raise" method="post">
                      <button class="btn btn-lg btn-warning col-xs-12 col-md-4" name="name" value="<%= item.name %>" type="submit">
                        raise price by $1
                      </button>
                    </form>
                    <form action="/reduce" method="post">
                      <button class="btn btn-lg btn-primary col-xs-12 col-md-4" name="name" value="<%= item.name %>" type="submit">
                        reduce price by $1
                      </button>
                    </form>
                    <form action="/menu" method="post">
                      <input type="hidden" name="_method" value="delete">
                      <button class="btn btn-lg btn-danger col-xs-12 col-md-4" name="name" value="<%= item.name %>" type="submit">
                        delete
                      </button>
                    </form>
                  </div>
                <% end %>
              </article>
            <% end %>
          <% end %>
        </dl>
        <h3>
          <a data-toggle="collapse" data-target="#sandwiches">
            sandwiches
          </a>
        </h3>  
        <dl id="sandwiches" class="menu collapse">
          <% @menu_items.each do |item| %>
            <% if item.menu == 'lunch' && item.category == 'sandwiches' %>
              <article>
                <dt class="item-name">
                  <%= item.name %>
                  <span class="item-price pull-right">
                    <%= item.price %>
                  </span>
                </dt>
                <dd class="item-description">
                  <%= item.description %>
                </dd>
                <% if @admin %>
                  <div class="row">
                    <form action="/raise" method="post">
                      <button class="btn btn-lg btn-warning col-xs-12 col-md-4" name="name" value="<%= item.name %>" type="submit">
                        raise price by $1
                      </button>
                    </form>
                    <form action="/reduce" method="post">
                      <button class="btn btn-lg btn-primary col-xs-12 col-md-4" name="name" value="<%= item.name %>" type="submit">
                        reduce price by $1
                      </button>
                    </form>
                    <form action="/menu" method="post">
                      <input type="hidden" name="_method" value="delete">
                      <button class="btn btn-lg btn-danger col-xs-12 col-md-4" name="name" value="<%= item.name %>" type="submit">
                        delete
                      </button>
                    </form>
                  </div>
                <% end %>
              </article>
            <% end %>
          <% end %>
        </dl>
        <h3>
          <a data-toggle="collapse" data-target="#chicken">
            chicken
          </a>
        </h3>  
        <dl id="chicken" class="menu collapse">
          <% @menu_items.each do |item| %>
            <% if item.menu == 'lunch' && item.category == 'chicken' %>
              <article>
                <dt class="item-name">
                  <%= item.name %>
                  <span class="item-price pull-right">
                    <%= item.price %>
                  </span>
                </dt>
                <dd class="item-description">
                  <%= item.description %>
                </dd>
                <% if @admin %>
                  <div class="row">
                    <form action="/raise" method="post">
                      <button class="btn btn-lg btn-warning col-xs-12 col-md-4" name="name" value="<%= item.name %>" type="submit">
                        raise price by $1
                      </button>
                    </form>
                    <form action="/reduce" method="post">
                      <button class="btn btn-lg btn-primary col-xs-12 col-md-4" name="name" value="<%= item.name %>" type="submit">
                        reduce price by $1
                      </button>
                    </form>
                    <form action="/menu" method="post">
                      <input type="hidden" name="_method" value="delete">
                      <button class="btn btn-lg btn-danger col-xs-12 col-md-4" name="name" value="<%= item.name %>" type="submit">
                        delete
                      </button>
                    </form>
                  </div>
                <% end %>
              </article>
            <% end %>
          <% end %>
        </dl>
        <h3>
          <a data-toggle="collapse" data-target="#seafood">
            seafood
          </a>
        </h3>  
        <dl id="seafood" class="menu collapse">
          <% @menu_items.each do |item| %>
            <% if item.menu == 'lunch' && item.category == 'seafood' %>
              <article>
                <dt class="item-name">
                  <%= item.name %>
                  <span class="item-price pull-right">
                    <%= item.price %>
                  </span>
                </dt>
                <dd class="item-description">
                  <%= item.description %>
                </dd>
                <% if @admin %>
                  <div class="row">
                    <form action="/raise" method="post">
                      <button class="btn btn-lg btn-warning col-xs-12 col-md-4" name="name" value="<%= item.name %>" type="submit">
                        raise price by $1
                      </button>
                    </form>
                    <form action="/reduce" method="post">
                      <button class="btn btn-lg btn-primary col-xs-12 col-md-4" name="name" value="<%= item.name %>" type="submit">
                        reduce price by $1
                      </button>
                    </form>
                    <form action="/menu" method="post">
                      <input type="hidden" name="_method" value="delete">
                      <button class="btn btn-lg btn-danger col-xs-12 col-md-4" name="name" value="<%= item.name %>" type="submit">
                        delete
                      </button>
                    </form>
                  </div>
                <% end %>
              </article>
            <% end %>
          <% end %>
        </dl>
        <h3>
          <a data-toggle="collapse" data-target="#beef">
            beef
          </a>
        </h3>  
        <dl id="beef" class="menu collapse">
          <% @menu_items.each do |item| %>
            <% if item.menu == 'lunch' && item.category == 'beef' %>
              <article>
                <dt class="item-name">
                  <%= item.name %>
                  <span class="item-price pull-right">
                    <%= item.price %>
                  </span>
                </dt>
                <dd class="item-description">
                  <%= item.description %>
                </dd>
                <% if @admin %>
                  <div class="row">
                    <form action="/raise" method="post">
                      <button class="btn btn-lg btn-warning col-xs-12 col-md-4" name="name" value="<%= item.name %>" type="submit">
                        raise price by $1
                      </button>
                    </form>
                    <form action="/reduce" method="post">
                      <button class="btn btn-lg btn-primary col-xs-12 col-md-4" name="name" value="<%= item.name %>" type="submit">
                        reduce price by $1
                      </button>
                    </form>
                    <form action="/menu" method="post">
                      <input type="hidden" name="_method" value="delete">
                      <button class="btn btn-lg btn-danger col-xs-12 col-md-4" name="name" value="<%= item.name %>" type="submit">
                        delete
                      </button>
                    </form>
                  </div>
                <% end %>
              </article>
            <% end %>
          <% end %>
        </dl>
      </div>
      
      <!-- Dinner -->

      <div class="tab-pane fade in active" id="dinner">
        <h3>
          <a data-toggle="collapse" data-target="#starters-dinner">
            starters
          </a>
        </h3>  
        <dl id="starters-dinner" class="menu collapse">
          <% @menu_items.each do |item| %>
            <% if item.menu == 'dinner' && item.category == 'starters' %>
              <article>
                <dt class="item-name">
                  <%= item.name %>
                  <span class="item-price pull-right">
                    <%= item.price %>
                  </span>
                </dt>
                <dd class="item-description">
                  <%= item.description %>
                </dd>
                <% if @admin %>
                  <div class="row">
                    <form action="/raise" method="post">
                      <button class="btn btn-lg btn-warning col-xs-12 col-md-4" name="name" value="<%= item.name %>" type="submit">
                        raise price by $1
                      </button>
                    </form>
                    <form action="/reduce" method="post">
                      <button class="btn btn-lg btn-primary col-xs-12 col-md-4" name="name" value="<%= item.name %>" type="submit">
                        reduce price by $1
                      </button>
                    </form>
                    <form action="/menu" method="post">
                      <input type="hidden" name="_method" value="delete">
                      <button class="btn btn-lg btn-danger col-xs-12 col-md-4" name="name" value="<%= item.name %>" type="submit">
                        delete
                      </button>
                    </form>
                  </div>
                <% end %>
              </article>
            <% end %>
          <% end %>
        </dl>
        <h3>
          <a data-toggle="collapse" data-target="#salads-dinner">
            salads
          </a>
        </h3>  
        <dl id="salads-dinner" class="menu collapse">
          <% @menu_items.each do |item| %>
            <% if item.menu == 'dinner' && item.category == 'salads' %>
              <article>
                <dt class="item-name">
                  <%= item.name %>
                  <span class="item-price pull-right">
                    <%= item.price %>
                  </span>
                </dt>
                <dd class="item-description">
                  <%= item.description %>
                </dd>
                <% if @admin %>
                  <div class="row">
                    <form action="/raise" method="post">
                      <button class="btn btn-lg btn-warning col-xs-12 col-md-4" name="name" value="<%= item.name %>" type="submit">
                        raise price by $1
                      </button>
                    </form>
                    <form action="/reduce" method="post">
                      <button class="btn btn-lg btn-primary col-xs-12 col-md-4" name="name" value="<%= item.name %>" type="submit">
                        reduce price by $1
                      </button>
                    </form>
                    <form action="/menu" method="post">
                      <input type="hidden" name="_method" value="delete">
                      <button class="btn btn-lg btn-danger col-xs-12 col-md-4" name="name" value="<%= item.name %>" type="submit">
                        delete
                      </button>
                    </form>
                  </div>
                <% end %>
              </article>
            <% end %>
          <% end %>
        </dl>
        <h3>
          <a data-toggle="collapse" data-target="#chicken-dinner">
            chicken
          </a>
        </h3>  
        <dl id="chicken-dinner" class="menu collapse">
          <% @menu_items.each do |item| %>
            <% if item.menu == 'dinner' && item.category == 'chicken' %>
              <article>
                <dt class="item-name">
                  <%= item.name %>
                  <span class="item-price pull-right">
                    <%= item.price %>
                  </span>
                </dt>
                <dd class="item-description">
                  <%= item.description %>
                </dd>
                <% if @admin %>
                  <div class="row">
                    <form action="/raise" method="post">
                      <button class="btn btn-lg btn-warning col-xs-12 col-md-4" name="name" value="<%= item.name %>" type="submit">
                        raise price by $1
                      </button>
                    </form>
                    <form action="/reduce" method="post">
                      <button class="btn btn-lg btn-primary col-xs-12 col-md-4" name="name" value="<%= item.name %>" type="submit">
                        reduce price by $1
                      </button>
                    </form>
                    <form action="/menu" method="post">
                      <input type="hidden" name="_method" value="delete">
                      <button class="btn btn-lg btn-danger col-xs-12 col-md-4" name="name" value="<%= item.name %>" type="submit">
                        delete
                      </button>
                    </form>
                  </div>
                <% end %>
              </article>
            <% end %>
          <% end %>
        </dl>
        <h3>
          <a data-toggle="collapse" data-target="#veal-dinner">
            veal
          </a>
        </h3>  
        <dl id="veal-dinner" class="menu collapse">
          <% @menu_items.each do |item| %>
            <% if item.menu == 'dinner' && item.category == 'veal' %>
              <article>
                <dt class="item-name">
                  <%= item.name %>
                  <span class="item-price pull-right">
                    <%= item.price %>
                  </span>
                </dt>
                <dd class="item-description">
                  <%= item.description %>
                </dd>
                <% if @admin %>
                  <div class="row">
                    <form action="/raise" method="post">
                      <button class="btn btn-lg btn-warning col-xs-12 col-md-4" name="name" value="<%= item.name %>" type="submit">
                        raise price by $1
                      </button>
                    </form>
                    <form action="/reduce" method="post">
                      <button class="btn btn-lg btn-primary col-xs-12 col-md-4" name="name" value="<%= item.name %>" type="submit">
                        reduce price by $1
                      </button>
                    </form>
                    <form action="/menu" method="post">
                      <input type="hidden" name="_method" value="delete">
                      <button class="btn btn-lg btn-danger col-xs-12 col-md-4" name="name" value="<%= item.name %>" type="submit">
                        delete
                      </button>
                    </form>
                  </div>
                <% end %>
              </article>
            <% end %>
          <% end %>
        </dl>
        <h3>
          <a data-toggle="collapse" data-target="#seafood-dinner">
            seafood
          </a>
        </h3>  
        <dl id="seafood-dinner" class="menu collapse">
          <% @menu_items.each do |item| %>
            <% if item.menu == 'dinner' && item.category == 'seafood' %>
              <article>
                <dt class="item-name">
                  <%= item.name %>
                  <span class="item-price pull-right">
                    <%= item.price %>
                  </span>
                </dt>
                <dd class="item-description">
                  <%= item.description %>
                </dd>
                <% if @admin %>
                  <div class="row">
                    <form action="/raise" method="post">
                      <button class="btn btn-lg btn-warning col-xs-12 col-md-4" name="name" value="<%= item.name %>" type="submit">
                        raise price by $1
                      </button>
                    </form>
                    <form action="/reduce" method="post">
                      <button class="btn btn-lg btn-primary col-xs-12 col-md-4" name="name" value="<%= item.name %>" type="submit">
                        reduce price by $1
                      </button>
                    </form>
                    <form action="/menu" method="post">
                      <input type="hidden" name="_method" value="delete">
                      <button class="btn btn-lg btn-danger col-xs-12 col-md-4" name="name" value="<%= item.name %>" type="submit">
                        delete
                      </button>
                    </form>
                  </div>
                <% end %>
              </article>
            <% end %>
          <% end %>
        </dl>
        <h3>
          <a data-toggle="collapse" data-target="#beef-dinner">
            beef
          </a>
        </h3>  
        <dl id="beef-dinner" class="menu collapse">
          <% @menu_items.each do |item| %>
            <% if item.menu == 'dinner' && item.category == 'beef' %>
              <article>
                <dt class="item-name">
                  <%= item.name %>
                  <span class="item-price pull-right">
                    <%= item.price %>
                  </span>
                </dt>
                <dd class="item-description">
                  <%= item.description %>
                </dd>
                <% if @admin %>
                  <div class="row">
                    <form action="/raise" method="post">
                      <button class="btn btn-lg btn-warning col-xs-12 col-md-4" name="name" value="<%= item.name %>" type="submit">
                        raise price by $1
                      </button>
                    </form>
                    <form action="/reduce" method="post">
                      <button class="btn btn-lg btn-primary col-xs-12 col-md-4" name="name" value="<%= item.name %>" type="submit">
                        reduce price by $1
                      </button>
                    </form>
                    <form action="/menu" method="post">
                      <input type="hidden" name="_method" value="delete">
                      <button class="btn btn-lg btn-danger col-xs-12 col-md-4" name="name" value="<%= item.name %>" type="submit">
                        delete
                      </button>
                    </form>
                  </div>
                <% end %>
              </article>
            <% end %>
          <% end %>
        </dl>
        <h3>
          <a data-toggle="collapse" data-target="#pork-dinner">
            pork
          </a>
        </h3>  
        <dl id="pork-dinner" class="menu collapse">
          <% @menu_items.each do |item| %>
            <% if item.menu == 'dinner' && item.category == 'pork' %>
              <article>
                <dt class="item-name">
                  <%= item.name %>
                  <span class="item-price pull-right">
                    <%= item.price %>
                  </span>
                </dt>
                <dd class="item-description">
                  <%= item.description %>
                </dd>
                <% if @admin %>
                  <div class="row">
                    <form action="/raise" method="post">
                      <button class="btn btn-lg btn-warning col-xs-12 col-md-4" name="name" value="<%= item.name %>" type="submit">
                        raise price by $1
                      </button>
                    </form>
                    <form action="/reduce" method="post">
                      <button class="btn btn-lg btn-primary col-xs-12 col-md-4" name="name" value="<%= item.name %>" type="submit">
                        reduce price by $1
                      </button>
                    </form>
                    <form action="/menu" method="post">
                      <input type="hidden" name="_method" value="delete">
                      <button class="btn btn-lg btn-danger col-xs-12 col-md-4" name="name" value="<%= item.name %>" type="submit">
                        delete
                      </button>
                    </form>
                  </div>
                <% end %>
              </article>
            <% end %>
          <% end %>
        </dl>
        <h3>
          <a data-toggle="collapse" data-target="#lamb-dinner">
            lamb
          </a>
        </h3>  
        <dl id="lamb-dinner" class="menu collapse">
          <% @menu_items.each do |item| %>
            <% if item.menu == 'dinner' && item.category == 'lamb' %>
              <article>
                <dt class="item-name">
                  <%= item.name %>
                  <span class="item-price pull-right">
                    <%= item.price %>
                  </span>
                </dt>
                <dd class="item-description">
                  <%= item.description %>
                </dd>
                <% if @admin %>
                  <div class="row">
                    <form action="/raise" method="post">
                      <button class="btn btn-lg btn-warning col-xs-12 col-md-4" name="name" value="<%= item.name %>" type="submit">
                        raise price by $1
                      </button>
                    </form>
                    <form action="/reduce" method="post">
                      <button class="btn btn-lg btn-primary col-xs-12 col-md-4" name="name" value="<%= item.name %>" type="submit">
                        reduce price by $1
                      </button>
                    </form>
                    <form action="/menu" method="post">
                      <input type="hidden" name="_method" value="delete">
                      <button class="btn btn-lg btn-danger col-xs-12 col-md-4" name="name" value="<%= item.name %>" type="submit">
                        delete
                      </button>
                    </form>
                  </div>
                <% end %>
              </article>
            <% end %>
          <% end %>
        </dl>
      </div>

      <!-- Small Plates -->

      <div class="tab-pane fade in" id="small-plates">
          <% @menu_items.each do |item| %>
            <% if item.menu == 'small plates' %>
              <article>
                <dt class="item-name">
                  <%= item.name %>
                  <span class="item-price pull-right">
                    <%= item.price %>
                  </span>
                </dt>
                <dd class="item-description">
                  <%= item.description %>
                </dd>
                <% if @admin %>
                  <div class="row">
                    <form action="/raise" method="post">
                      <button class="btn btn-lg btn-warning col-xs-12 col-md-4" name="name" value="<%= item.name %>" type="submit">
                        raise price by $1
                      </button>
                    </form>
                    <form action="/reduce" method="post">
                      <button class="btn btn-lg btn-primary col-xs-12 col-md-4" name="name" value="<%= item.name %>" type="submit">
                        reduce price by $1
                      </button>
                    </form>
                    <form action="/menu" method="post">
                      <input type="hidden" name="_method" value="delete">
                      <button class="btn btn-lg btn-danger col-xs-12 col-md-4" name="name" value="<%= item.name %>" type="submit">
                        delete
                      </button>
                    </form>
                  </div>
                <% end %>
              </article>
            <% end %>
          <% end %>
      </div>

      <!-- Cocktails -->

      <div class="tab-pane fade in" id="cocktails">
          <% @menu_items.each do |item| %>
            <% if item.menu == 'cocktails' %>
              <article>
                <dt class="item-name">
                  <%= item.name %>
                  <span class="item-price pull-right">
                    <%= item.price %>
                  </span>
                </dt>
                <dd class="item-description">
                  <%= item.description %>
                </dd>
                <% if @admin %>
                  <div class="row">
                    <form action="/raise" method="post">
                      <button class="btn btn-lg btn-warning col-xs-12 col-md-4" name="name" value="<%= item.name %>" type="submit">
                        raise price by $1
                      </button>
                    </form>
                    <form action="/reduce" method="post">
                      <button class="btn btn-lg btn-primary col-xs-12 col-md-4" name="name" value="<%= item.name %>" type="submit">
                        reduce price by $1
                      </button>
                    </form>
                    <form action="/menu" method="post">
                      <input type="hidden" name="_method" value="delete">
                      <button class="btn btn-lg btn-danger col-xs-12 col-md-4" name="name" value="<%= item.name %>" type="submit">
                        delete
                      </button>
                    </form>
                  </div>
                <% end %>
              </article>
            <% end %>
          <% end %>
      </div>

      <!-- Wine -->

      <div class="tab-pane fade in" id="wine">
        <h3>
          <a data-toggle="collapse" data-target="#whites">
            whites
          </a>
        </h3>  
        <dl id="whites" class="menu collapse">
          <% @menu_items.each do |item| %>
            <% if item.menu == 'wine' && item.category == 'whites' %>
              <article>
                <dt class="item-name">
                  <%= item.name %>
                  <span class="item-price pull-right">
                    <%= item.price %>
                  </span>
                </dt>
                <dd class="item-description">
                  <%= item.description %>
                </dd>
                <% if @admin %>
                  <div class="row">
                    <form action="/raise" method="post">
                      <button class="btn btn-lg btn-warning col-xs-12 col-md-4" name="name" value="<%= item.name %>" type="submit">
                        raise price by $1
                      </button>
                    </form>
                    <form action="/reduce" method="post">
                      <button class="btn btn-lg btn-primary col-xs-12 col-md-4" name="name" value="<%= item.name %>" type="submit">
                        reduce price by $1
                      </button>
                    </form>
                    <form action="/menu" method="post">
                      <input type="hidden" name="_method" value="delete">
                      <button class="btn btn-lg btn-danger col-xs-12 col-md-4" name="name" value="<%= item.name %>" type="submit">
                        delete
                      </button>
                    </form>
                  </div>
                <% end %>
              </article>
            <% end %>
          <% end %>
        </dl>
        <h3>
          <a data-toggle="collapse" data-target="#reds">
            reds
          </a>
        </h3>  
        <dl id="reds" class="menu collapse">
          <% @menu_items.each do |item| %>
            <% if item.menu == 'wine' && item.category == 'reds' %>
              <article>
                <dt class="item-name">
                  <%= item.name %>
                  <span class="item-price pull-right">
                    <%= item.price %>
                  </span>
                </dt>
                <dd class="item-description">
                  <%= item.description %>
                </dd>
                <% if @admin %>
                  <div class="row">
                    <form action="/raise" method="post">
                      <button class="btn btn-lg btn-warning col-xs-12 col-md-4" name="name" value="<%= item.name %>" type="submit">
                        raise price by $1
                      </button>
                    </form>
                    <form action="/reduce" method="post">
                      <button class="btn btn-lg btn-primary col-xs-12 col-md-4" name="name" value="<%= item.name %>" type="submit">
                        reduce price by $1
                      </button>
                    </form>
                    <form action="/menu" method="post">
                      <input type="hidden" name="_method" value="delete">
                      <button class="btn btn-lg btn-danger col-xs-12 col-md-4" name="name" value="<%= item.name %>" type="submit">
                        delete
                      </button>
                    </form>
                  </div>
                <% end %>
              </article>
            <% end %>
          <% end %>
      </dl>
    </div>
  </div>
</section>

<!-- 

Goals for this page:
- Use #accordion collapse display to show menus on mobile screens
- Use tabs to display menus on md and lg screens
- If admin is signed in, this view will show buttons for deleting or changing the price of menu items

 -->