<!-- <div id="skrollr-body"> -->
<section id="menu" class="homeSlide">
  <div class="bcg"
    data-bottom-top="background-position: 50% 0px;"
    data-center="background-position: 50% -100px;"
    data-top-bottom="background-position: 50% -200px;"
    data-anchor-target="#menu">
    <div class="hsContainer">
      <div class="hsContent"
        data-0-bottom="opacity: 0"                   
        data-100-top="opacity: 1"
        data-anchor-target="#menu .nav">
      
        <!-- <h1 class="center">Menu</h1> -->

        <!-- Menu accordion for -xs and -sm screens -->

        <div class="visible-xs visible-sm panel-group" id="accordion">
          <% @menus.each do |menu| %>
            <div class="panel panel-default">
              <a data-toggle="collapse" data-parent="#accordion" href="#<%= menu.split(' ').join('-') %>">
                <div class="panel-heading">
                  <h2 class="panel-title">
                    <%= menu %>
                  </h2>
                </div>
              </a>
              <div id="<%= menu.split(' ').join('-') %>" class="panel-collapse collapse">
                <div class="panel-body">
      
                  <%= erb(:submenu, :layout => false, :locals => { :menu => menu }) %>
              
                </div>
              </div>
            </div>
            <% end %>
          </div>

          <!-- Menu tabs for -md and -lg screens -->

          <!-- Nav tabs -->

          <ul class="nav nav-tabs nav-justified visible-md visible-lg">
            <% @menus.each do |menu| %>
              <li class="h2 <%= 'active' if menu == 'lunch' %>">
                <a href="#<%= menu.split(' ').join('-') + '-tab' %>" data-toggle="tab">
                  <%= menu %>
                </a>
              </li>
            <% end %>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content visible-md visible-lg">
            <% @menus.each do |menu| %>
              <div class="tab-pane fade in <%= 'active' if menu == 'lunch' %>" id="<%= menu.split(' ').join('-') + '-tab' %>">
                <%= erb(:submenu, :layout => false, :locals => { :menu => menu }) %>
              </div>
            <% end %>
          </div>

  <!-- top level -->
      </div>
    </div>
  </div>
</section>
<!-- </div> -->