<!-- <section class="inner"> -->
<% @categories.each do |category| %>

  <% @relevant_items = @menu_items.select { |item| item.menu == menu && item.category == category } %>
  <% @relevant_items.sort! { |x, y| x.price <=> y.price } %>
  <% @relevant_categories = [] %>
  <% @relevant_items.each do |item| %>
    <% @relevant_categories.push(item.category) unless @relevant_categories.include?(item.category) %>
    <% @relevant_categories.sort! %>
  <% end %>
  
  <% @relevant_categories.each do |relevant_category| %>  

  <h3>
    <%= relevant_category.split('-').each { |word| word.capitalize! }.join(' ') unless relevant_category == menu.split(' ').join('-') %>
  </h3>
  
  <% @relevant_items.each do |item| %>
    <article>
      <dt class="item-name">
        <%= item.name %>
        <span class="item-price pull-right">
          <%= item.price %>
        </span>
      </dt>
      <dd class="item-description">
        <%= item.description %>
      </dd>
      <% if @admin %>
        <div class="row">
          <div class="menu-msg col-xs-12 col-md-4 alert-success btn"></div>
          <button onClick="raisePrice(<%= item.id %>, $(this));" class="btn btn-lg btn-warning col-xs-12 col-md-4">
            raise price by $1
          </button>
          <button onClick="reducePrice(<%= item.id %>, $(this));" class="btn btn-lg btn-primary col-xs-12 col-md-4">
            reduce price by $1
          </button>
          <button onClick="deleteItem(<%= item.id %>, $(this));" class="btn btn-lg btn-danger col-xs-12 col-md-4">
            delete <%= item.name %>
          </button>
        </div>
      <% end %>
    </article>
    <% end %>
  <% end %>
<% end %>
<!-- </section> -->